{% extends 'rango/base.html' %} 
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>
        </div>
    </div>
        {% if subcategories %}
            <ul>
                {% for subcategory in subcategories %}

                    <li><a href="{% url 'rango:show_subcategory' category.slug subcategory.slug %}">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %} 
            <strong>This category currently contains no subcategories.</strong>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'rango:add_subcategory' category.slug %}">Add Subcategory</a> <br />
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}

{% endblock %}