<ul class="nav flex-column">
    <a class="btn btn-primary" href="{% url 'rango:add_category' %}">Add Category</a>
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>{{c.name}}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>{{ c.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}    
    {% else %}
        <li class="nav-item">There are no categories present.</li>
    {% endif %} 
</ul>