{% extends 'rango/base.html' %}

{% block title %} Change Password {% endblock %}

{% block body_block %}
<h1> Change Password </h1>
{% if success %}
    <p>You have successfully changed your password</p>
{% endif %}

<form id="user_form" method="post" enctype="multipart/form-data" action="{% url 'rango:change_password' %}">
    {% csrf_token %}
    <!-- New Password: <input type="password" name="password" value="" size="50" />
    <br />
    Repeat: <input type="password" name="password1" value="" size="50" />
    <br />
     -->
    {{form.as_p}}
    <input type="submit" name="submit" value="Change Password">
</form>
{% endblock %}