{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %} 

{% block body_block %}
<div class="jumbotron p-4">
        <h1 >Welcome {% if user.is_authenticated %}
            {{ user.username }}
        {% endif %}</h1>
</div>

<div id="page-reviews" class="index-section">
    <h4 class="index-heading">Most Recent Page Reviews</h4>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel2">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
            {% for review in reviews1 %}
            <div class="card">
                <div class="card-header">
                    <p>{{review.user}}</p>
                    <p>{{review.datetime}}</p>
                </div>
              <div class="card-body">
                <div class="rating cardTitle">
                    <h5 class="card-title">{{review.page.name}}</h5>
                    <p>{{review.rating}}</p>
                </div>
                <strong class="card-text"><p class="card-text">{{review.title}}</p></strong>
                <p class="card-text">{{review.text}}</p>
                <a href="{% url 'rango:show_page' review.page.subcategory.category.slug review.page.subcategory.slug review.page.slug %}" class="btn btn-primary">Go to Page</a>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
            {% for review in reviews2 %}
                <div class="card">
                <div class="card-header">
                    {{review.user}}
                    {{review.datetime}}
                </div>
              <div class="card-body">
                <div class="rating cardTitle">
                    <h5 class="card-title">{{review.page.name}}</h5>
                    <p>{{review.rating}}</p>
                </div>
                <strong class="card-text"><p class="card-text">{{review.title}}</p></strong>
                <p class="card-text">{{review.text}}</p>
                <a href="{% url 'rango:show_page' review.page.subcategory.category.slug review.page.subcategory.slug review.page.slug %}" class="btn btn-primary">Go to Page</a>
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<div id="page-views" class="index-section">
    <h4 class="index-heading">Most Viewed Pages</h4>
    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
            {% for page in pages1 %}
            <div class="card">
                <div class="card-header">
                    <p>{{page.user}}</p>
                </div>
              <div class="card-body">
                <div class="cardTitle">
                    <h5 class="card-title">{{page.name}}</h5>
                    <p>{{page.views}}</p>
                </div>
                <strong class="card-text"><p class="card-text">{{page.subcategory}}</p></strong>
                <p class="card-text">{{page.subcategory.category}}</p>
                <a href="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug page.slug %}" class="btn btn-primary">Go to Page</a>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
                {% for page in pages2 %}
                <div class="card">
                    <div class="card-header">
                        <p>{{page.user}}</p>
                    </div>
                  <div class="card-body">
                    <div class="cardTitle">
                        <h5 class="card-title">{{page.name}}</h5>
                        <p>{{page.views}}</p>
                    </div>
                    <strong class="card-text"><p class="card-text">{{page.subcategory}}</p></strong>
                    <p class="card-text">{{page.subcategory.category}}</p>
                    <a href="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug page.slug %}" class="btn btn-primary">Go to Page</a>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<div id="page-ratings" class="index-section">
    <h4 class="index-heading">Highest Rated Pages</h4>
    <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
            {% for p in page_ratings1 %}
            <div class="card">
                <div class="card-header">
                    <p>{{p.user}}</p>
                </div>
              <div class="card-body">
                <div class="cardTitle">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p>{{p.avg_rating}}</p>
                </div>
                <a href="{% url 'rango:show_page' p.subcategory.category.slug p.subcategory.slug p.slug %}" class="btn btn-primary">Go to Page</a>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              {% for p in page_ratings2 %}
              <div class="card">
                  <div class="card-header">
                      <p>{{p.user}}</p>
                  </div>
                <div class="card-body">
                  <div class="cardTitle">
                      <h5 class="card-title">{{p.name}}</h5>
                      <p>{{p.avg_rating}}</p>
                  </div>
                  <a href="{% url 'rango:show_page' p.subcategory.category.slug p.subcategory.slug p.slug %}" class="btn btn-primary">Go to Page</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<script src="{% static 'index.js' %}"></script>
{% endblock %}

