
{%extends 'rango/base.html' %}
{% load staticfiles %}
{%block title_block%}
    {{page.name}}
{%endblock%}
{%block body_block%}
    <div id="page-overview" >
            <div id="page-and-views">
                <h1>{{page.name}}</h1> 
                <div class="views">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-2" width="2rem" height="2rem" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <h4  class="">{{page.views}}</h4>
                </div>
     
                
            </div>
            <div id="added_by">
                <h4 id="" >Added by: {{page.user.username}}</h4>
            </div>
            <a id="page-url" href="{{page.url}}">{{page.url}}</a>
            
            <div id = "like-button">
                {% if like_status %}
                <form method = "post" action="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug  page.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" name="unlike" value="Unlike Page" />
                </form>
                {% else %}
                <form method = "post" action="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug  page.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" name="like" value="Like Page" />
                </form>
                
                {% endif %}
            </div>
        
    </div>

    

    

    

    {%if user.is_authenticated %}
    <div id="review-div" class="">
    <div id="review-div" >

        <form id="Review_form" class="jumbotron" method="post" action=" {% url 'rango:add_review' page.slug %}">
            <h2>Leave a Review</h2>
                {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                 {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} 
            {%endfor%}
            <input type="submit" class="btn btn-primary" name="submit" value="Add Review">
            </form>
    </div>
    {%endif%}

    

    <div class="review-div jumbotron" id="review-list">
        <h2> {{page_reviews_count}} Reviews for this page! Average score: <span class= "badge badge-pill badge-primary">{{Review_average}}</span></h1>
        {%if Reviews%}
        <div class="list-group">
            {%for review in Reviews%}
    
            
            <div class="card list-group-item col-sm-11">
              <div class="card-body">
                <h4 class="card-title">{{review.BriefDescription}}<div class=rating > <p>{{review.Stars}}</p> </div></h4>
                <div>
                    <p class= "card-text">{{review.ReviewText}}</p>
                </div>
              </div>
            <div class="card-footer text-muted">{{review.user}}<br />{{review.datetime}}</p></div>
            </div>
            
        {%endfor%}
        </div>
        {%else%}
        <h2>No reviews for this page... yet!</h2>
        {%endif%}
    </div>

    <script src="{% static 'index.js' %}"></script>

{%endblock%}