<!--This template is missing parts: the styling is not there, the listing of reviews is infinite, there is no form to add reviews(yet) and more -->

{%extends 'rango/base.html' %}
{%block title_block%}
    {{page.name}}
{%endblock%}
{%block body_block%}
    <div id="page-overview" >
            <div id="page-and-views">
                <h1>{{page.name}}</h1> 
                <div class="views">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mt-2" width="2rem" height="2rem" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      <h4  class="">{{page.views}}</h4>
                </div>
                <div class="likes">
                    <h4>{{page.likes}}</h4>
                </div>
                
            </div>
            <div id="added_by">
                <h4 id="" >Added by: {{page.user.username}}</h4>
            </div>
            <a id="page-url" href="{{page.url}}">{{page.url}}</a>
            <div id="bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                    <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
                    <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
                  </svg>
            </div>
        
    </div>

{%if user.is_authenticated %}

    <div id = "like-button">
        {% if like_status %}
        <form method = "post" action="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug  page.slug %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="unlike" value="Unlike Page" />
        </form>
        {% else %}
        <form method = "post" action="{% url 'rango:show_page' page.subcategory.category.slug page.subcategory.slug  page.slug %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="like" value="Like Page" />
        </form>
        
        {% endif %}
    </div>

    <div id="review-div" class="">
        
        <form id="Review_form" class="jumbotron" method="post" action=" {% url 'rango:add_review' page.slug %}">
            <h2>Leave a Review</h2>
                {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                 {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} 
            {%endfor%}
            <input type="submit" class="btn btn-primary" name="submit" value="Add Review">
            </form>
    </div>
    {%endif%}

    <div class="review-list">
        <h2>Reviews</h2>
        <p>Average Rating: {{Review_average}}</p>
        <ul>

            {%if Reviews%}
           
                {%for Review in Reviews%}
                <li>
                    {{Review.Stars}}
                    {{Review.BriefDescription}} <br/>
                    {{Review.ReviewText}} <br/> 
                    {{Review.datetime}} <br />
                    {{Review.user.username}}
                </li>
                {%endfor%}
            </ul>
            {%endif%}

    </div>



{%endblock%}
