{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block head_block %}
    
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

    <div>
        {% if user_profile.picture %}
            <img src="{{user_profile.picture.url }}" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/empty_profile_pic.jpg' %}" alt="Empty Profile Picture" />
        {% endif %}

        <div>
            <button id = "update_pic_button" onclick="show_update_pic()">Update Profile Picture</button><br />
            <div id = "update_pic" style="display:none">
                <form id="update_pic_form" method = "post" action="{% url 'rango:profile' %}" 
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for hidden in PictureForm.hidden_fields %}
                        {{hidden}}
                    {% endfor %} 
                    {% for field in PictureForm.visible_fields%} 
                        {{field.errors}}
                        {{field.help_text}}
                        {{field}}
                    {%endfor%} 
                    <input type="submit" name="pic_update" value="Update pic" />
                </form>
                <button onclick="hide_update_pic()">Cancel</button><br />
            </div>
        </div>

    </div>

    <h1>{{ user.username }}</h1>
    <div style="padding:10px 40px 50px 20px">
        {% if user_profile.website %}
            {{ user_profile.website }} <br />
        {%endif%}
        <button id = "update_url_button" onclick="show_update_url()">Update Website</button><br />
            <div id = "update_url" style="display:none">
                Update your website
                <form id="update_url_form" method = "post" action="{% url 'rango:profile' %}">
                    {% csrf_token %}
                    {% for hidden in URLForm.hidden_fields %}
                        {{hidden}}
                    {% endfor %} 
                    {% for field in URLForm.visible_fields%} 
                        {{field.errors}}
                        {{field.help_text}}
                        {{field}}
                    {%endfor%} 
                    <input type="submit" name="url_update" value="Update url" />
                </form>
                <button onclick="hide_update_url()">Cancel</button>
            </div>
        
    </div>

  
    <div class="tabbable" style="padding:0px 40px 50px 40px">
		<nav class="nav navbar-expand-sm bg-dark navbar-dark sticky-top">
			<ul class="navbar-nav">
				<li class="active"><a href="#content1" class="nav-link active" data-toggle="tab">Saved Pages</a></li>
				<li><a href="#content2" class="nav-link active" data-toggle="tab">Reviews</a></li>
				<li><a href="#content3" class="nav-link active" data-toggle="tab">Created Categories</a></li>
			</ul>
		</nav>
	<div class="tab-content">
	<div id="content1" class="tab-pane active container-fluid" style="padding-top:30px;padding-bottom:30px; background-color:#6495ED">
		<h1>Saved Pages</h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa lectus. Nulla faucibus, erat sed finibus tristique, 
		sapien lectus gravida justo, nec porttitor sapien ipsum porta nibh. Nulla diam risus, maximus eu condimentum non, suscipit et augue. 
		Nulla sem turpis, consectetur sit amet mauris a, pharetra laoreet dolor. Nullam malesuada augue sed vestibulum ultricies. Mauris massa 
		tellus, mollis sit amet luctus eu, mollis et nulla. Mauris porttitor eu libero in scelerisque. Nulla consectetur quis lorem et interdum. 
		Pellentesque fringilla arcu lorem, at molestie felis posuere eget. Fusce ornare aliquam sapien. Nullam posuere lacus eget nulla tincidunt, 
		id auctor purus scelerisque. In turpis urna, venenatis quis dapibus a, luctus at enim. Cras a leo eros. Sed eu fermentum mi, lacinia vulputate tellus.
		Cras luctus, mi id pharetra dignissim, nisi arcu hendrerit eros, sit amet egestas nibh lacus nec augue. Vestibulum rhoncus nec tortor a lacinia. Curabitur lectus
		sem, molestie eget vehicula in, faucibus non dolor. Duis ornare, felis sit amet ultrices ornare, neque tellus finibus felis, in iaculis quam neque at 
		dolor. Aenean pharetra suscipit bibendum. Cras enim est, hendrerit vitae hendrerit ac, lobortis at nulla. Praesent vitae nisi quis ligula sagittis 
		gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus volutpat sapien eros, a ornare dolor luctus non. 
		Cras eget dolor maximus, venenatis augue a, porttitor massa. <br />

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget massa lectus. Nulla faucibus, erat sed finibus tristique, 
		sapien lectus gravida justo, nec porttitor sapien ipsum porta nibh. Nulla diam risus, maximus eu condimentum non, suscipit et augue. 
		Nulla sem turpis, consectetur sit amet mauris a, pharetra laoreet dolor. Nullam malesuada augue sed vestibulum ultricies. Mauris massa 
		tellus, mollis sit amet luctus eu, mollis et nulla. Mauris porttitor eu libero in scelerisque. Nulla consectetur quis lorem et interdum. 
		Pellentesque fringilla arcu lorem, at molestie felis posuere eget. Fusce ornare aliquam sapien. Nullam posuere lacus eget nulla tincidunt, 
		id auctor purus scelerisque. In turpis urna, venenatis quis dapibus a, luctus at enim. Cras a leo eros. Sed eu fermentum mi, lacinia vulputate tellus.
		Cras luctus, mi id pharetra dignissim, nisi arcu hendrerit eros, sit amet egestas nibh lacus nec augue. Vestibulum rhoncus nec tortor a lacinia. Curabitur lectus
		sem, molestie eget vehicula in, faucibus non dolor. Duis ornare, felis sit amet ultrices ornare, neque tellus finibus felis, in iaculis quam neque at 
		dolor. Aenean pharetra suscipit bibendum. Cras enim est, hendrerit vitae hendrerit ac, lobortis at nulla. Praesent vitae nisi quis ligula sagittis 
		gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus volutpat sapien eros, a ornare dolor luctus non. 
		Cras eget dolor maximus, venenatis augue a, porttitor massa. </p>
	</div>
	<div id="content2" class="tab-pane container-fluid" style="padding-top:30px;padding-bottom:30px; background-color: #D3D3D3;">
		<h1>Reviews</h1>
		<div id="reviews" style="padding:20px 50px;">
            {% if reviews %}
                {% for review in reviews %}
                <div class="row border" style="background-color:rgb(240, 240, 240)">
                    <div class="col border">
                        {{ review.Page.name }}
                    </div>
                    <div class="col-6 border">
                        {{ review.BriefDescription }}
                    </div>
                    <div class="col border">
                        {{ review.Stars}}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                You havn't made any reviews. <br />
            {% endif %}
        </div>
	</div>
	<div id="content3" class="tab-pane container-fluid" style="padding-top:30px;padding-bottom:30px; background-color: #9ACD32;">
		<h1>Created Categories</h1>
        <h2>Categories</h2>
        <p>
            {% if categories %}
                {% for category in categories %}
                    <li> <a href="{% url 'rango:show_category' category.slug %}">
                        {{ category.name }}</a></li>
                {% endfor %}
            {% else %}
                You havn't made any categories. <br />
                <a href="{% url 'rango:add_category' %}">Click Here</a> to add a category.
            {% endif %}
        </p>
        <h2>Subcategories</h2>
        <p>
            {% if subcategories %}
                {% for subcategory in subcategories %}
                    <li> <a href="{% url 'rango:show_subcategory' subcategory.category.slug subcategory.slug %}">
                        {{ subcategory.name }}</a></li>
                {% endfor %}
            {% else %}
                You havn't made any subcategories. <br />
            {% endif %}
        </p>
		
	</div>
</div>
    </div>

    <script src="{% static 'profile.js' %}"></script>

{% endblock %}