{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

        <div id="profile-top">
                <div class="image"> 
                    {% if user_profile.picture %}
                    <img src="{{user_profile.picture.url }}" alt="Profile Picture" class="rounded-circle profile-pic" width="200">
                     {% else %}
                    <img src="{% static 'images/empty_profile_pic.jpg' %}" alt="Empty Profile Picture" class="rounded-circle profile-pic" width="200">
                    {% endif %}
                </div>
                    <h2 id="username">{{ user.username}}</h2>
                    <span id="website">{{ user_profile.website }}</span>

            
            <div>
                <button id = "update_pic_button" class="btn btn-secondary btn-sm profile-button" onclick="show_update_pic()">Update Profile Picture</button>
                <button id = "update_url_button" class="btn btn-secondary btn-sm profile-button" onclick="show_update_url()">Update Website</button>
                <a class="btn btn-secondary btn-sm profile-button" href="{% url 'rango:change_password' %}">Change Password</a>
                <div id = "update_pic" style="display:none">
                    <form id="update_pic_form" method = "post" action="{% url 'rango:profile' %}" 
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for hidden in PictureForm.hidden_fields %}
                            {{hidden}}
                        {% endfor %} 
                        {% for field in PictureForm.visible_fields%} 
                            {{field.errors}}
                            {{field.help_text}}
                            {{field}}
                        {%endfor%} 
                        <input type="submit" name="pic_update" value="Update pic" />
                    </form>
                    <button class="btn btn-secondary btn-sm" onclick="hide_update_pic()">Cancel</button>
                </div>
                
                <div id = "update_url" style="display:none">
                    <form id="update_url_form" method = "post" action="{% url 'rango:profile' %}">
                        {% csrf_token %}
                        {% for hidden in URLForm.hidden_fields %}
                            {{hidden}}
                        {% endfor %} 
                        {% for field in URLForm.visible_fields%} 
                            {{field.errors}}
                            {{field.help_text}}
                            {{field}}
                        {%endfor%} 
                        <input type="submit" name="url_update" value="Update url" />
                    </form>
                <button class="btn btn-secondary btn-sm" onclick="hide_update_url()">Cancel</button>
            </div>
            </div>
        </div>
                
<!-- Tabs navs -->
<section>
      
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Home</a>
      </li>
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
      </li>
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div id="content1" class="tab-pane active container-fluid">
            <h2>Saved Pages</h2>
            <p>
                {% if liked_pages %}
                    <ul class="list-group">
                    {% for liked_page in liked_pages %}   
                        <a href="{% url 'rango:show_page' liked_page.page.subcategory.category.slug liked_page.page.subcategory.slug liked_page.page.slug %}"
                            class="list-group-item list-group-item-action list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5>{{ liked_page.page.name }}</h5>

                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    You havn't saved any pages. <br />
                
                {% endif %}
            </p>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div id="content2" class="tab-pane container-fluid">
            <h2>Reviews</h2>
            <div id="reviews" >
                {% if reviews %}
                    <ul class="list-group">
                    {% for review in reviews %}
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5>{{ review.page.name }}</h5>
                            <small>{{ review.rating }}
                                <img src="{% static 'images/star-rating.jpg' %}" alt="Picture of Rango" />
                            </small>
                        </div>
                        <p> {{ review.title }}</p>
                    
                    </li>
                    
                    {% endfor %}
                    </ul>
                {% else %}
                You havn't made any reviews. <br />
                {% endif %}
            </div>
        </div>
      </div>
      <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div id="content3" class="tab-pane container-fluid" >
            <h2>Created Categories</h2>
            <h3>Categories</h3>
            <p>
                {% if categories %}
                    {% for category in categories %}
                        <li class="list-group">
                            <a href="{% url 'rango:show_category' category.slug %}" class="list-group-item list-group-item-action">
                            {{ category.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    You havn't made any categories. <br />
                    <a href="{% url 'rango:add_category' %}">Click Here</a> to add a category.
                {% endif %}
            </p>
            <h2>Subcategories</h2>
            <p>
                {% if subcategories %}
                    {% for subcategory in subcategories %}
                        <li class="list-group">
                            <a href="{% url 'rango:show_subcategory' subcategory.category.slug subcategory.slug %}" class="list-group-item list-group-item-action">
                            {{ subcategory.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    You havn't made any subcategories. <br />
                {% endif %}
            </p>
            
        </div>
      </div>
    </div>
  </section>
        
    <script src="{% static 'profile.js' %}"></script>

{% endblock %}