{% extends 'rango/base.html' %} 
{% load staticfiles %}

{% block title_block %}
    {% if subcategory %}
        {{ subcategory.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if subcategory %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ subcategory.name }}</h1>
        </div>
    </div>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{% url 'rango:show_page' subcategory.category.slug subcategory.slug page.slug %}"> {{page.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %} 
            <strong>This subcategory currently contains no pages.</strong> <br />
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug subcategory.slug %}">Add Page</a> <br />
        {% endif %}
    {% else %}
        The specified subcategory does not exist.
    {% endif %}

{% endblock %}