html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --nav-height: 4rem;
}

#content1 {
    padding-top:70px;
    padding-bottom:70px;
    background-color:#6495ED
}

#navbar{
    max-height: var(--nav-height);
}

#search-results{
    position: absolute;
    top: var(--nav-height);
    right: 2rem;
    max-width: 18rem;
    z-index:1;
}

#page-overview{
    padding: 5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#page-and-views{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
}
#page-and-views h1{
    margin-right: 2rem;
}
#added_by{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}

#page_overview a{
    grid-row: 2/3;
    grid-column: 1/2;
}

#bookmark{
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}


#review-div{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

#Review_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem;
    padding-left: 2rem;
    width: 40rem;
}

#Review_form h2{
    margin-bottom: 1rem;
}

#Review_form input{
    width: 100%;
    margin-bottom: 1rem;
}

#Review_form input[type="submit"]{
    width: auto;
}

